		html{
			position: relative;
			 min-height: 100%;

		}

		body{
			margin: 0;
			min-width: 320px;
			background-color: #f6fbff;
		}

		section{
			display: flex;
			height: auto;
			
		}
		
		footer{
			width: 100%;
			background-color:#000;
			height: 100px;
			position: absolute;
			bottom: 0;
			text-align:center;
		}
		#pagVer #contenido > h1,#pagVer #contenido >  h2,#pagVer #contenido >  h3,#pagVer #contenido >  h4,#pagVer #contenido >  h5,#pagVer #contenido >  h6{
		    text-align: center;
		    margin-top: 50px !important;
		}
		.error{
			font-size: small;
			color:red;
		}
		/*Encabezado*/
		header{
			height: 100px;
			display: flex;
			justify-content: space-between;
			background-color: #d9ecfc;
		}
		#inicio, #sesion, #titulo{
			margin: 0 !important;
		}
		#inicio , #sesion {
			width: 150px;
			flex: auto;
			
		}
		#inicio form, #sesion form{
			line-height: 150px;
			text-align: center;
		}
		#botonInicio{
			background: url('../../webroot/image/inicio.png') no-repeat;
			background-size: contain;
			border: 0;
			width: 50px;
			height: 50px;
		}
		#botonSesion{
			background: url('../../webroot/image/usuario.png') no-repeat;
			background-size: contain;
			border: 0;
			width: 50px;
			height: 50px;
		}

	
		#botonCerrar{
			background: url('../../webroot/image/usuarioCerrar.png') no-repeat;
			background-size: contain;
			border: 0;
			width: 40px;
			height: 40px;
		}
		.btnExtPagUser{
			padding-bottom: 5px;
		}
		#botonUser{
			background: url('../../webroot/image/usuarioConectado.png') no-repeat;
			background-size: contain;
			border: 0;
			width: 40px;
			height: 40px;
			margin-right: 5px;
			margin-left: 5px;
		}
		#botonPerfil{
			background: url('../../webroot/image/usuarioPerfil.png') no-repeat;
			background-size: contain;
			border: 0;
			width: 40px;
			height: 40px;
			margin-right: 5px;
			margin-left: 5px;
		}
		#titulo{
			line-height: 100px;
			flex: 5 0 auto;
			text-align: center;
		}
		#titulo h2{
			margin: 0;
			font-size: 40px;
		}
		/*PAGINA INICIO y PAGINA USER*/
				#pagInicio #contenido, #pagUser #contenido{
					flex:5 1 auto;
					width: 80%;

				}

				section#pagInicio,section#pagUser{
						margin-bottom: 150px;
				}

				#paginacion{
					text-align: center;
				}
				/*lista de  Libros*/

				#pagInicio img , #pagUser img{
					width: 180px;
					height: 250px;
				
				}
				#infolibro{
					display: flex;
					flex-wrap: wrap;
				}
				#infolibro>div{
					display: inherit;
					padding: 0px 10px 5px 10px;
					width: 30%;
					
				}
				#infolibro>div span, #infolibro>div a{
				
					padding-left: 5px;
					display: inline-block;
					padding-bottom: 5px;
				}

				.info{
					width:180px;
					flex:auto;
				}
				.sinopsis{
					height: 101.5px;
					overflow: hidden;
					
					
				}
				.titulolibro{
					height: 55px;
					overflow: hidden;
					width:100%
				}
				.autor{
					height: 45px;
					overflow: hidden;
				}
				/*Busqueda*/
				#busqueda{
					margin:10px;
				}
				#busqueda>form input:first-child{
					width: 250px;
					border-radius: 10px;
    				margin-right: 10px;
    				height: 20px;
    				border: 2px solid #949494;
				}
				/*Menu Lateral*/
				nav{
					 flex: 1 0 auto;
		   			 min-width: 200px;
		   			
				}

				ul{
					display: flex;
					flex-direction: column;
					min-width: 265px;
					padding-left: 5px;
					margin-top: 9px;
				}
				li{
					list-style: none;

				}
				nav a{

					background: #2bdce2;
					text-align: center;
					border: 1px solid aliceblue;
					padding: 5px;
					text-decoration: none;
					color: #FFF;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 13px;
				}

		/*PAGINA DE LOGIN/REGISTRO*/
				#loginRegistro #contenido{
					display: inherit;
					width: 100%;
				}
				#loginRegistro #contenido > div{
					width: 50%;
					margin-bottom: 100px;
					height: 600px;
				}
				
				#loginRegistro #contenido #login{
					background: #94f6c9;
				}
				#loginRegistro #contenido #registro{
					background: #94bbf6;
				}
				#login p , #registro> p{
					text-align:center;
				}
				
				#loginRegistro form{
					display: flex;
					width: 200px;
					flex-direction: column;
					margin: 0 auto;
					padding-left: 10px;
				}
				#loginRegistro input{

					margin: 10px 10px 10px 0;
					border-radius: 10px;
					height: 20px;
					padding-left: 5px;
				}
				#loginRegistro h2{
					text-align: center; 
				}
				#loginRegistro .boton01{
					width: 100px;
					margin-left: 50px;
					height: 30px;
					text-transform: uppercase;
    				font-weight: bold;
				}

		/*PAGIAN INFORMACION DEL LIBRO*/
				#pagInfolibro #contenido{
					margin-bottom: 150px;
				}
				#libro{
					display: flex;
				}
				#portada img{
					width: 250px;
					height: 350px;
					flex:2 0 auto;
					margin:20px;
				}
				#caracLibro{
					margin:20px 20px 20px 0px;
					text-align: justify;
					display: flex;
					flex-direction: column;
				}
				#caracLibro span{
					margin-bottom: 20px ;	
				}
				#botonesInfoLibro{
					text-align: center;
				}
				.leer{
				background: url('../../webroot/image/leer.png') no-repeat;
				background-size: 30px;
				background-position: center ;
				display: inline-block;
				padding-top: 50px;
				width: 50px;
				text-decoration: none;
   				 margin: 15px;
				}
				.descargar{
				background: url('../../webroot/image/descargar.png') no-repeat;
				background-size: 30px;
				background-position: center ;
				display: inline-block;
				padding-top: 50px;
				width: 50px;
				text-decoration: none;
   				margin: 15px;

				}
				.editar{
				background: url('../../webroot/image/editar.png') no-repeat;
				background-size: 30px;
				background-position: center ;
				display: inline-block;
				padding-top: 50px;
				
				text-decoration: none;
   				margin: 15px;

				}
				.leerMuestra
				{
				background: url('../../webroot/image/leer.png') no-repeat;
				background-size: 30px;
				background-position: center ;
				display: inline-block;
				padding-top: 50px;
				
				text-decoration: none;
   				margin: 15px;

				}
		/*PAGINA PERFIL*/
			#pagUserPerfil #contenido {
				text-align: center;
				display: inherit;
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
			}
			#pagUserPerfil {
			    margin-bottom: 150px;
			}
			#borraCuenta{
				margin: 20px;
				flex: auto;
			}
			#pagUserPerfil #contenido #btnPerfil{
			
				margin-top: 100px;
			}
			#pagUserPerfil table{
				flex:auto;
				margin: 50px;
				border: 1px solid #000;
			}
			#modificarCuenta {
			    margin: 0 auto;
			    flex: 0 0 auto;
			    text-align: left;
			}
			#modificarCuenta form{
			    width: 250px;
			}
			#modificarCuenta h2{
			   width: 200px;
				margin-left: 10px;

			}
			#modificarCuenta input[type="submit"]{
			    width: 100px;
			    margin-left: 50px;
			   height:30px;
			}
			#modificarCuenta input {
			 
			   	width: 200px;
				margin: 10px 10px 10px 0;
				border-radius: 10px;
				height: 20px;
				padding-left: 5px;
			}
			#pagUserPerfil th{
				width: 130px;
			}
			#cancelarFactura{
				width: 100%;
			}
			.btnPagPerfil{
				width: 150px;
				height: 100px;
				padding-top: 50px;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: bold;
				border-radius: 20px;
			}
			input[name='BotonModificar']{
				background: url('../../webroot/image/usuarioModificar.png') no-repeat;
				background-size: 55px;
				background-color: #e1e1e1;
				background-position: center 5px;
			}
			input[name='BotonBorrar']{
				background: url('../../webroot/image/usuarioBorrar.png') no-repeat;
				background-size: 55px;
				background-color: #e1e1e1;
				background-position: center 5px;
			}
			input[name='BotonCompras']{
				background: url('../../webroot/image/factura.png') no-repeat;
				background-size: 55px;
				background-color: #e1e1e1;
				background-position: center 5px;
			}
			input[name='BotonNuevo']{
				background: url('../../webroot/image/anadir-libro.png') no-repeat;
				background-size: 55px;
				background-color: #e1e1e1;
				background-position: center 5px;



			}
		/*PAGINA PAGO*/
		  	#pagPago #contenido{
		  		
		  		text-align:center;
				display: inherit;
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
		 	 }

			#comprarLibro{
			    margin: 0 auto;
			    flex: 0 0 auto;
			    text-align: left;
			}
			#comprarLibro form{
			    width: 250px;
			}
			#comprarLibro h2{
			   width: 200px;
			
				text-align: center;
			}
			#comprarLibro input[type="submit"]{
			    width: 100px;
			    margin-left: 50px;
			   
			}
			#comprarLibro input {
			  
			    margin: 10px 10px 10px 0px;
			   	width: 200px;
			}
		/*PÁGINA VER*/
			#pagVer #contenido{
					flex:5 1 auto;
					width: 70%;
					margin:50px;
				
			}
			section#pagVer{
				padding-bottom: 120px;

			}
			#pagVer nav{
				flex:auto;
				min-width: 200px;
				
			}
		
			#tituloLibro{
				
				flex: auto;
				text-align: center;
				
			}
			#tituloLibro h2{
				margin: 0;
				font-size: 40px;
			}
			.Anterior{
				background: url('../../webroot/image/Anterior.png') no-repeat;
				background-size: 20px;
				background-position: center 5px;
				display: inline-block;
				height: 30px;
    			width: 30px;

			}
			.Siguiente{
				background: url('../../webroot/image/Siguiente.png') no-repeat;
				background-size: 20px;
				background-position: center 5px;
				display: inline-block;
				height: 30px;
    			width: 30px;

			}
			.fechaDown{
				margin-top:50px;
				text-align: center;
			}
			.fechaUp{
				
				text-align: center;
			}
			
			#tituloLibro{
			
			flex: 5 1 auto;
			text-align: center;
			}
			#tituloLibro h2{
				margin: 0;
				font-size: 35px;
				margin-top: 10px;
			}
			.volver{
				background-color:rgb(94, 158, 214);
			}
		/*PÁGINA SUBIR LIBROS*/
			section#subir{
				margin-bottom: 150px;
			}
			#subir h2{
				text-align: center;
			}
			#subir #contenido {
				width: 300px;
				margin:0 auto;
			}
			#subir #contenido form {
				display: flex;
				flex-direction: column;
				font-weight: bold;
				text-transform: uppercase;

			}
			#subir #contenido form  input[type="text"] {
				width: 250px;
				margin-top:5px;
				margin-bottom: 5px;
				border-radius:10px;
				height:20px;
				padding-left:5px;

			}
			#subir #contenido form  input[type="submit"] {
				width: 100px;
				border-radius:10px;
				height:30px;
				margin-left:100px;
				margin-bottom:10px;

			}
			#subir input[name="numPag"], #subir input[name="precio"], #subir input[name="fechaPubli"]  {
				width: 150px !important;

			}
			#subir input[name="sinopsis"]{
				width: 290px !important;
				height: 250px;
			}
			#subir #contenido form  #generos {
				font-weight: normal;
				display: flex;
				flex-wrap: wrap;
				font-size: 15px;
				margin-top: 5px;
				margin-bottom: 5px;

			}
			#generos span{
				width: 150px;
				flex: auto;
			}

		/*@MEDIAS*/
		@media (max-width: 1475px) {
			/*PAGINA INICIO*/
				/*lista de  libros*/
				#infolibro>div{
					width: 45%;
				}
		}

		@media (max-width: 1029px) {
			/*PAGINA INICIO*/
				/*lista de  libros*/
				.info{
					width: 70%;
				}
		}

		@media (max-width: 1070px) {
			/*PAGINA INICIO*/
				/*lista de  libros*/
				#infolibro>div{

					flex: auto;
					width: auto !important;
				}

				#infolibro{

					flex-direction: column;
					
				}	
		}

		@media (max-width: 899px) {

			/*PAGINA INICIO*/	
				section#pagInicio, section#pagUser, section#pagVer{
					flex-direction: column;
				}		
				#pagInicio #contenido, #pagUser #contenido{
					flex:auto;
					margin-left: 20px;
					width: auto;
				}
				#pagVer #contenido{
					flex:auto;
					
					width: auto;
				}
				/*Menu Lateral*/
				#pagInicio nav, #pagUser nav , #pagVer nav{
					flex:auto;
					height: auto;
					width: 80%;
					margin-right: 10%;
					margin-left: 10%;

				}
				#pagInicio nav>ul, #pagUser nav>ul {
					padding: 0;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
				}
				 #pagInicio nav>ul a, #pagUser nav>ul a{
					flex:auto;
					width: 120px;
				}
				/*lista de  Libros*/
				.info{
					width: 200px;
				}

				#infolibro>div{

					flex: none;
					width: 45% !important;
				}
				#infolibro{

					flex-direction: row;
					
				}	
				#infolibro h2{

					text-align: center;
					width: auto;
					margin: 0 !important;
				}
				/*Busqueda*/			
				#busqueda>form {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}

		}
		@media (max-width: 865px) {
			/*PAGINA INICIO*/
				/*lista de  libros*/
				#infolibro>div{

					flex: auto;
					width: auto !important;
				}
				#infolibro{

					flex-direction: column;
					
				}
		}
		@media (max-width: 819px) {
			/*PAGINA INICIO*/
				/*lista de  libros*/
				.info{
					width: 57%;
				}
		}
		@media (max-width: 650px) {
			/*PAGINA DE INFORMACION DE LIBRO*/
				#libro{
					flex-direction: column;
				}
				#caracLibro {
	    			margin: 20px;
				}
				#portada{
					margin:0 auto;
				}
		}

		@media (max-width: 599px) {
			#tituloLibro h2{
				
				font-size: 30px;
			}
			

		}

		@media (max-width: 540px) {
			/*PAGINA DE LOGIN*/
				#loginRegistro #contenido{
						flex-direction: column;
				}		

				#loginRegistro #contenido > div{
					width: 100%;

				}
				#loginRegistro #contenido #login{
					margin:0;
					height: 400px;
				}


		}
		@media (max-width: 531px) {
			/*Encabezado*/
			#botonInicio{
				width: 35px;
				height: 35px;
			}
			#botonSesion{

				width: 35px;
				height: 35px;
			}

			#titulo h2{

				font-size: 30px;
			}
				

		}
		@media (max-width: 473px) {
			/*Encabezado*/
			
			#botonInicio{
			
				width: 25px;
				height: 25px;
			}
			#botonSesion{
				
				width: 25px;
				height: 25px;
			}

			#botonCerrar{
	
			width: 25px;
			height: 25px;
			}
			#botonUser{
		
			width: 25px;
			height: 25px;
		
			}
			#botonPefil{
		
			width: 25px;
			height: 25px;
		
			}
			#titulo h2{
				font-size: 25px;
			}
				

		}
		@media (max-width: 460px) {



			/*PAGINA INICIO*/			
				#pagInicio #contenido, #pagUser #contenido{
					margin:0;
				}
				/*lista de  libros*/
				#infolibro{
					justify-content: space-between;
				}	
				#infolibro>div{
					flex-direction:column;
					flex:none;
					min-width: 180px;


				}
				.info{
					width: 180px;
				}
				
				#infolibro{
					flex-direction:row;
					
					
				}

		}
		@media (max-width: 399px) {
			/*PAGINA INICIO*/
				/*lista de  libros*/
					#infolibro{
						justify-content: space-around;
					}	
					#tituloLibro h2{
				
						font-size: 25px;
					}
			
			
		}