/* eBook base v1.1 */

/* -------- ESTILOS NO MODIFICABLES -------- */
body { font-family:"Times New Roman", Times, serif; margin:1em; }
p { margin:0; text-align:justify; text-indent:1.5em; line-height:1.3em; }
a { text-decoration:none; }
sup, sub { font-size:0.75em; line-height:normal; }
/* ----------------------------------------- */

/* encabezados */
h1, h2, h3, h4, h5, h6 { margin-top:15%; text-align:center; text-indent:0; -webkit-hyphens:none; adobe-hyphenate:none; -moz-hyphens:none; hyphens:none; }
	h1 { font-size:1.7em; }
	h2 { font-size:1.6em; }
	h3 { font-size:1.5em; }
	h4 { font-size:1.4em; }
	h5 { font-size:1.3em; }
	h6 { font-size:1.2em; }

/* tipografía */
.sans, .sans em, .sans strong { font-family:"Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif; }
.mono, .mono em, .mono strong { font-family:"Courier New", Courier, monospace; }

.cursiva, em, i { font-style:italic; }
.negrita, strong, b { font-weight:bold; }
.tachado, strike, s { text-decoration:underline; }
.subrayado, u { text-decoration:line-through; }
.normal { font-style:normal; font-weight:normal; text-decoration:none; }

.versalita { font-size:0.8em; } /* para texto en mayúsculas cuyo tamaño, sin embargo, es similar al de las minúsculas */

/* alineación */
.izquierda, .izquierda p { text-align:left; }
.derecha, .derecha p { text-align:right; text-indent:0; }
.centrado, .centrado p { text-align:center; text-indent:0; }
.justificado, .justificado p { text-align:justify; }
.asangre, .asangre p { text-indent:0; }

/* saltos */
.saltoinicio { margin-top:33%; }
.salto25 { padding-top:2.5em; }
.salto10 { padding-top:1em; }

/* bloques */
.sinmargen { margin:0; }
.cita { margin:1.5em; }
.bloque { page-break-inside:avoid; } /* evita que un elemento se divida entre dos páginas en algunos lectores */
.banner { margin:1.5em 12%; padding:0.5em 1em; text-align:center; text-indent:0; border:2px solid black; border-left:none; border-right:none; }
	.banner p { text-align:center; text-indent:0; }

/* listas */
li { text-align:justify; line-height:1.3em; }
        
/* ------------- AÑADE AQUÍ TUS PROPIOS ESTILOS -------------  */

          .capitulo { font-size:1.5em; 
                         font-weight:normal; 
                         border:1px solid #8B0000; 
                         height:0px; 
                         background-color:#000000; 
                         margin:20% 0% 4% 0%; }

          .capitulo span { float:right; 
                              margin:-0.85em 2% 0 10%; 
                              background-color:white; 
                              padding:0.3em; 
                              font-family:"Times New Roman"; }
