/* ePUB base r1.0 epublibre */

/* -------- ESTILOS GLOBALES Y DE SECCIONES FIJAS (NO MODIFICABLES) -------- */
body { margin:1em; }
p { margin:0; text-align:justify; text-indent:1.5em; line-height:1.3em; }
a { font-style:normal; font-weight:normal; text-decoration:none; }
sup, sub { font-size:0.75em; line-height:normal; }

/* -------- CUBIERTA -------- */
.cubierta { margin:0; padding:0; border:0; font-size:0; text-align:center; text-indent:0; }
	.cubierta img { height:100%; max-height:100%; }

/* -------- SINOPSIS -------- */
.sinopsis, .sinopsis p, .sinopsis em, .sinopsis strong, .sinopsis span { margin-top:0.5em; text-indent:0; font-family:sans-serif; }

/* -------- TITULO -------- */
.tlogo, .tautor, .ttitulo, .tsubtitulo, .trevision, .tfirma { text-align:center; text-indent:0; adobe-hyphenate:none; hyphenate:none; hyphens:none; -moz-hyphens:none; -webkit-hyphens:none; }
	.tlogo span { margin:3em 0 2.5em; padding:0; border:0; display:inline-block; width:8em; }
	.tautor { margin-bottom:0.5em; font-size:1.2em; color:#595959; }
	.ttitulo { margin:0; font-size:1.8em; }
	.tsubtitulo { margin:0.3em 0 0; }
	.trevision { margin:2.5em 0 0; font-size:0.8em; color:#595959; }
	.tfirma, .tfirma strong, .tfirma code { font-size:0.8em; }
	.tfecha { color:#595959; }

/* -------- INFO -------- */
.info { margin:3.5em 1.5em; font-size:0.8em; width:90%; }
	.info p { text-align:left; text-indent:0; }

/* -------- DEDICATORIA -------- */
.dedicatoria { margin:5em 1em 1.5em; text-align:right; text-indent:0; }
	.dedicatoria p { text-align:right; text-indent:0; }

/* -------- AUTOR -------- */
.autorimg { margin:1.5em; padding:0; border:0; text-align:center; text-indent:0; display:block; height:40%; }

/* -------- NOTAS -------- */
.nota { padding-top:10%; text-indent:0; page-break-before:always; }
	.nota p { text-indent:0; }


/* -------- ESTILOS GENERALES (ADAPTABLES EN CASOS ESPECIALES) -------- */

/* encabezados */
h1, h2, h3, h4, h5, h6 { margin-top:25%; text-align:center; text-indent:0; page-break-after:avoid; page-break-inside:avoid; adobe-hyphenate:none; hyphenate:none; hyphens:none; -moz-hyphens:none; -webkit-hyphens:none; }
	h1 { font-size:1.6em; margin-top:15%; text-align:center; text-indent:0; -webkit-hyphens:none; adobe-hyphenate:none; -moz-hyphens:none; hyphens:none;font-family:"Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif; }
	h2 { font-size:1.5em;font-family:"Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif; }
	h3 { font-size:1.1em; margin-top:2.5em;font-family:"Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;}

/* tipografía */
.sans, .sans p, .sans em, .sans strong, .sans span { font-family:sans-serif; }
.serif, .serif p, .serif em, .serif strong, .serif span { font-family:serif; }
.mono, .mono p, .mono em, .mono strong, .mono span { font-family:monospace; }

.cursiva, em { font-style:italic; }
.negrita, strong { font-weight:bold; }
.subrayado, ins { text-decoration:underline; }
.tachado, del { text-decoration:line-through; }
.oculto { display:none; visibility:hidden; }
.normal { font-style:normal; font-weight:normal; text-decoration:none; }

.versalita { font-size:0.8em; } /* para texto en mayúsculas, de tamaño similar al de las minúsculas */

/* alineación */
.izquierda, .izquierda p { text-align:left; }
.derecha, .derecha p { text-align:right; text-indent:0; }
.centrado, .centrado p { text-align:center; text-indent:0; }
.justificado, .justificado p { text-align:justify; }
.asangre, .asangre p { text-indent:0; }

/* saltos */
.sintop { margin-top:0; }
.saltoinicio { margin-top:33%; }
.salto05 { padding-top:0.5em; }
.salto10 { padding-top:1em; }
.salto25 { padding-top:2.5em; }

/* bloques */
.sinmargen { margin:0; }
.cita { margin:1.5em; }
.bloque { page-break-inside:avoid; } /* en algunos lectores, evita dividir un elemento entre dos páginas */
.extenso { orphans:0; widows:0; } /* evita la división aleatoria de párrafos muy extensos */
.banner { margin:1.5em 12%; padding:0.5em 1em; text-align:center; text-indent:0; border:2px solid black; border-left:none; border-right:none; }
	.banner p { text-align:center; text-indent:0; }

/* listas */
li { margin:0; text-align:justify; line-height:1.3em; }

/* imágenes simples */ /* para láminas a página completa, usar el estilo fijo ‘cubierta’ */
.ilustra { margin:1em 0; padding:0; border:0; text-align:center; text-indent:0; display:block; }
	.ilustra img { max-height:100%; max-width:100%; }


/* -------- ESTILOS PERSONALES -------- */

.salto15 { padding-top:1.5em; }
.subtit { text-indent:0em; font-size:1.6em; font-weight:bold; text-align:center; margin-bottom:1em;font-family:"Helvetica Neue", Helvetica, Verdana, Arial, "Trebuchet MS", Trebuchet, sans-serif;  }
.subtit2 { text-indent:0em; font-size:1.1em; font-weight:normal; font-style:italic; text-align:center; margin-bottom:1em;padding-bottom:1em;}
.subtit3 { text-indent:0em; font-size:1.1em; font-weight:normal; text-align:center; margin-bottom:1em; }
.saltocitas { margin-top:25%; }

.citainfo { margin:1.5em 0em;}
.semicentrado  {margin: 0 0 0 90px;}
.semicentrado2  {margin: 0 0 0 410px;}
 .tablacentro{ display: inline-table; margin-left: auto; margin-right: auto;}
.verso {font-style: italic; margin-left: 3em; margin-top: 1.5em; margin-bottom: 1.5em; text-indent:0;}
	.verso p {margin:0; text-indent:0em; line-height:1.3em; text-align: left;}
.verso2 {font-style: italic; margin-left: 3em; margin-top: 0.5em; margin-bottom: 0.5em; text-indent:0;}
	.verso2 p {margin:0; text-indent:0em; line-height:1.3em; text-align: left;}
.enmedio { text-align:center; text-indent:0; }
.citanota { margin:1em 0em 2.5em 2.5em;}
.fecha { text-align:right;text-indent:0;padding-bottom:1em;padding-top:1em;font-style:italic; }

@font-face {font-family:"KIDSN";font-style: normal;font-weight: normal;src:url(../Fonts/Kidsn.ttf);
}
.Kids {font-family: "KIDSN", fantasy; }

@font-face {font-family:"VAMSIGOPI";font-style: normal;font-weight: normal;src:url(../Fonts/vamsigopi.ttf);
}
.vamsigo {font-family: "VAMSIGOPI", fantasy;}

.fuente20 {font-size:2.0em;color:#B22222;}


blockquote.tabla{margin:2em auto 2 5%;text-align:center;text-indent:0;}
.citatabla2{margin:2em auto 2 30%;text-align:center;text-indent:0;}
div{ margin:1em 1em; text-align:center;}
table {text-align:center; margin:auto;}

.cita2 {  padding-bottom:1.5em;text-align:right; text-indent:0; }
