/* ePub base r1.1 ePubLibre */

/* ----- ESTILOS GLOBALES Y DE SECCIONES FIJAS (NO MODIFICABLES) ----- */
body { margin:1em; padding:0; border:0; }
p { margin:0; text-align:justify; text-indent:1.5em; line-height:1.3em; }
a, .normal { font-style:normal; font-weight:normal; text-decoration:none; }
sup, sub { font-size:0.75em; line-height:normal; }

.cubierta { margin:0; padding:0; border:0; font-size:0; text-align:center; text-indent:0; page-break-before:always; page-break-after:always; }
	.cubierta img { height:100%; max-height:100%; }

.tlogo, .tautor, .ttitulo, .tsubtitulo, .trevision, .tfirma { margin:0 0.25em; text-align:center; text-indent:0; font-family:sans-serif; font-weight:bold; adobe-hyphenate:none; hyphenate:none; hyphens:none; -moz-hyphens:none; -webkit-hyphens:none; }
	.tlogo span { margin:3em 0 2.5em; display:inline-block; width:8em; }
	.tautor { margin-bottom:0.5em; font-size:1.2em; font-weight:normal; color:#595959; }
	.ttitulo { padding:0; border:0; font-size:1.8em; font-style:normal; text-decoration:none; color:black; visibility:visible; }
	.tsubtitulo { margin-top:0.3em; }
	.trevision { margin-top:2.5em; font-size:0.8em; color:#595959; }
	.tfirma { margin-top:0.25em; font-size:0.65em; }
	.tfecha { font-family:sans-serif; font-weight:normal; color:#595959; }

.sinopsis, .sinopsis p, .autor, .autor p, .nota p { margin-top:0.5em; text-indent:0; }
	.sinopsis p, .sinopsis em, .sinopsis strong, .sinopsis big, .sinopsis small, .sinopsis span { font-family:sans-serif; }
.info { margin:3.5em 1.5em 2.5em; font-size:0.8em; width:90%; }
	.info p { text-align:left; text-indent:0; }
.vineta { padding:1em 0; text-align:center; display:block; }
.nota { padding-top:9%; page-break-before:always; }


/* ----- ESTILOS GENERALES (ADAPTABLES) ----- */

/* encabezados */
h1, h2, h3, h4, h5, h6 { margin-top:5%; text-align:center; text-indent:0; page-break-after:avoid; page-break-inside:avoid; adobe-hyphenate:none; hyphenate:none; hyphens:none; -moz-hyphens:none; -webkit-hyphens:none; font-family:"Romance";}
	h1 { font-size:1.5em; }
	h2 { font-size:1.5em; }
	h3 { font-size:1.4em; }
	h4 { font-size:1.3em; }
	h5 { font-size:1.2em; }
	h6 { font-size:1.1em; }

/* dedicatoria */
.dedicatoria { margin:5em 1em 0 3em; text-align:right; }
	.dedicatoria p { text-align:right; text-indent:0; }

/* tipografía */
.sans, .sans p, .sans em, .sans strong, .sans big, .sans small { font-family:sans-serif; }
.serif, .serif p, .serif em, .serif strong, .sans big, .serif small { font-family:serif; }
.mono, .mono p, .mono em, .mono strong, .mono big, .mono small { font-family:monospace; }

em, .cursiva { font-style:italic; }
strong, .negrita { font-weight:bold; }
ins, .subrayado { text-decoration:underline; }
del, .tachado { text-decoration:line-through; }
.oculto { display:none; visibility:hidden; }

big, .grande { font-size:1.2em; }
small, .versalita { font-size:0.8em; }	/* para texto en mayúsculas, de tamaño similar al de las minúsculas */

/* alineación */
.izquierda, .izquierda p { text-align:left; }
.derecha, .derecha p { text-align:right; text-indent:0; }
.centrado, .centrado p { text-align:center; text-indent:0; }
.justificado, .justificado p { text-align:justify; }
.asangre, .asangre p { text-indent:0; }

/* saltos */
.sintop { margin-top:0; }
.saltoinicio { margin-top:25%; }
.salto05 { padding-top:0.5em; }
.salto10 { padding-top:1em; }
.salto25 { padding-top:2.0em; }

/* bloques */
.sinmargen { margin:0; }
.cita { margin:1.5em; }
.bloque { page-break-inside:avoid; }	/* evita dividir un elemento entre páginas */
.nosep { text-indent:0; display:inline-block; }	/* evita dividir una palabra entre líneas */
.extenso { orphans:0; widows:0; }	/* evita división aleatoria de párrafos muy extensos (bug ADE) */
.banner { margin:1.5em 12%; padding:0.5em 1em; text-align:center; text-indent:0; border:2px solid black; border-left:none; border-right:none; }
	.banner p { text-align:center; text-indent:0; }

/* listas */
li { margin:0; text-align:justify; text-indent:0; line-height:1.3em; }

/* imágenes simples */	/* para láminas verticales (página completa), usar el estilo fijo «cubierta» */
.ilustra { margin:1em 0; text-align:center; text-indent:0; display:block; }
	.ilustra img { max-height:100%; max-width:100%; }


/* ----- ESTILOS PERSONALES ----- */


@font-face{font-family:"Harry P";font-style:normal;font-weight:normal;src:url(../Fonts/HarryP.TTF)}

@font-face{font-family:"Romance";font-style:normal;font-weight:normal;src:url(../Fonts/Rom_Ftl_Srif_bold_Std_2011.TTF)}

.harry { font-family:"Harry P"; }

.romance { font-family:"Romance"; }

p { font-family: Times, serif; }

.titulo { 	
	font-family:"Romance"; 
	font-size:2.0em; 
	display:block; 
	text-indent:0; 
	text-align:center; 
	margin: 0 0 35px 0; 
	}

.capital  {
	font-family:"Harry P";
	font-size: 300%; 
	float: left; 
	margin: -0.1em 0.125em -0.2em 0em; 
	text-indent: 0em; 
	line-height: 1em; 
	height: 1em;
	}

ul {list-style:circle; margin:0; padding:0 0 0 2em; text-align:justify; line-height:1.2em; font-size: 95%;}

small{font-size:80%;}

.verso, .verso p {
	text-indent:-1.5em;
	margin-left: 1.5em;
	line-height:1.2em; 
	font-style: italic; 
	font-size:100%
	}


.tit2-1 {font-family:"Harry P"; text-indent:0; text-align:center; font-size: 4em; letter-spacing:-.02em}

.tit2-2{font-family:"Romance"; text-indent:0; text-align:center; font-size: 1.6em;}

.tit2-3{font-family:"Romance"; text-indent:0; text-align:center; font-size: 1.4em;}

.tit2-4{font-family:"Romance"; text-indent:0; text-align:center; padding-top:1em; font-size: 1.1em;}


.hang {text-indent: -1em}
.block {margin-left: 1em; margin-right: 1em;}
.block1 {margin-left: 1em; margin-right: 0em;}
.topbot{margin-top: 1em; margin-bottom:1em;}